.button {
  border-radius: 4px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &--primary {
    border: 1px solid $brand-light;
    background-color: $brand;
    color: $white;

    &:hover {
      border-color: $brand-light;
      color: $text-1;
      background-color: $brand-light;
    }
  }

  &--secondary {
    border: 1px solid transparent;
    background-color: $bg-alt;
    color: $text-2;

    &:hover {
      border-color: $indigo-1;
      color: $text-1;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    &:disabled {
      border-color: transparent;
      cursor: not-allowed;
      color: $text-3;
    }
  }
}
