@use "variables" as v;

input {
  padding: 10px;
  border-radius: 4px;
  background-color: v.$bg-alt;
  color: v.$text-1;
  font-size: 13px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  outline: none;
  overflow-x: auto;
  transition: background-color 0.5s;
  border: 1px solid transparent;
  margin-bottom: 5px;

  &:hover {
    border: 1px solid v.$indigo-1;
  }

  &::placeholder {
    color: v.$text-2;
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: v.$text-1;
}

// Hide Up & Down Arrow Buttons
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
