input {
  padding: 10px;
  border-radius: 4px;
  background-color: #161618;
  color: rgba(255, 255, 245, 0.86);
  font-size: 12px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  outline: none;
  overflow-x: auto;
  transition: background-color 0.5s;
  border: 1px solid transparent;
  margin-bottom: 5px;

  &:hover {
    border: 1px solid #a8b1ff;
  }

  &::placeholder {
    color: rgba(235, 235, 245, 0.6);
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 245, 0.86);
}
