table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: $bg;
  border-top: 1px solid $divider;
  transition: background-color 0.5s;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid $divider;
}

td {
  font-size: 14px;
}

th {
  font-size: 14px;
  font-weight: 600;
  color: $text-2;
  background-color: $bg-soft;
}

tbody tr:nth-child(2n) {
  background-color: $bg-soft;
  color: $text-1;
}

// tbody tr:hover {
//   background-color: #f5f5f5;
// }
