@use "variables" as v;

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: v.$bg;
  border-top: 1px solid v.$divider;
  transition: background-color 0.5s;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid v.$divider;
}

td {
  font-size: 14px;
}

th {
  font-size: 14px;
  font-weight: 600;
  color: v.$text-2;
  background-color: v.$bg-soft;
}

tbody tr:nth-child(2n) {
  background-color: v.$bg-soft;
  color: v.$text-1;
}

// tbody tr:hover {
//   background-color: #f5f5f5;
// }
