$text-1: rgba(255, 255, 245, 0.86);
$text-2: rgba(235, 235, 245, 0.6);
$text-3: rgba(235, 235, 245, 0.38);

$white: #ffffff;
$border: #3c3f44;
$divider: #2e2e32;

$bg: #1b1b1f;
$bg2: #1a1a1a;
$bg-alt: #161618;
$bg-soft: #202127;
$bg-soft2: #242424;

$gray-1: #515c67;
$gray-2: #414853;
$gray-3: #32363f;

$brand: #646cff;
$brand-light: #747bff;
$brand-lighter: #9499ff;
$brand-lightest: #bcc0ff;
$brand-dark: #535bf2;
$brand-darker: #454ce1;
$brand-dimm: rgba(100, 108, 255, 0.08);

$indigo-1: #a8b1ff;
$indigo-2: #5c73e7;
$indigo-3: #5672cd;
$indigo-4: #3e63dd;
$indigo-5: #3451b2;
$indigo-6: #3a5ccc;

$red-1: #f66f81;
$red-2: #e0575b;
$red-3: #f14158;
$red-4: #d5393e;
$red-5: #b8272c;
$red-6: #b62a3c;

$pink-1: #db2777;
