@import "./styles/variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-1;
  background-color: $bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $brand;
  text-decoration: inherit;

  &:hover {
    color: $brand-dark;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: $white;
  }
  a:hover {
    color: $brand-light;
  }
  button {
    background-color: #f9f9f9;
  }
}
